.App {
  height: max-content;
  min-height: 100vh;
  margin: 0;
  animation: intro 2s;
  /* background-image: url(https://image.utoimage.com/preview/cp872102/2019/09/201909008215_500.jpg); */
  /* background-image: url(https://image.utoimage.com/preview/cp872102/2017/09/201709002412_500.jpg);
  background-size: cover;
  background-position: center; */
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contents {
  height: max-content;
  min-height: calc(100vh - 100px);
  width: 100%;
  /* background-image: url(https://image.utoimage.com/preview/cp872102/2019/09/201909008215_500.jpg); */
  /* background-image: url("https://i.pinimg.com/550x/0e/ed/0e/0eed0e17cfb2ad11f8687db1065539ee.jpg"); */

  background-image: url(https://image.utoimage.com/preview/cp872102/2017/09/201709002412_500.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  animation: intro 2s;
}
.Header {
  animation: intro 2s;
}
.ShopSlide {
  /* animation: evenSlide 5s linear;
  animation-iteration-count: infinite; */
}
