* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "arirang";
  font-size: 25px;
}
@font-face {
  font-family: "arirang";
  src: url("../public/font/MYArirang.otf") format("opentype");
}
